{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
        <meta charset="UTF-8">
        <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
      </head>
      <body>
      {% block header %}
        <header>
            <nav>
            {% comment %} <a href="{% url 'index' %}">Главная</a> {% endcomment %}
            {% comment %} <a href="{% url 'add' %}">Добавить продукт</a> {% endcomment %}

            {% for rubric in rubrics %}
                {% comment %} <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a> {% endcomment %}
                <a href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
            </nav>
        </header>
      {% endblock %}

        <a href="{% url 'bboard:index' %}">TEST</a>
        <section>
            {% block content %}
            {% endblock %}
        </section>
      </body>
</html>